body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: top;
	
}

.content {
	width: 80%;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	background-color: #fff;
	padding: 1rem;
	font-size: 1.3rem;
	line-height: 1.5;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 2px dotted black;
	
  }
  
.tooltip .tooltiptext {
	visibility: hidden;
	width: 250px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -120px;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }

a:link {
	color: #c00;
	font-weight: bold;
}

a:visited {
	color: #0c0;
}

a:hover {
	color: #00c;
	text-decoration: none;
}

a:active {
	color: #ccc
}

.user {
	display: flex;
	width:250px;
	height: 250px;
	border-radius: 50%;
	/* box-shadow: 0px 0px 60px; */

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}